@use 'variables' as *;
@use 'bulma' as *;

// base / general

html, body, .content-wrapper {
    font-family: $family-primary;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
body {
    background-color: $white;
    max-width: 100vw;
    position: relative;
    top: 80px;
}
button {
    -webkit-tap-highlight-color: transparent;
}
.logo {
    height: 30px;
    max-width: 100px;
    width: auto;
}
.is-locked {
    overflow: hidden;
}

// Titles for all sections

.title {
    font-size: $is-size-1;
    font-weight: bold;
    color: $dark-grey;
    line-height: $line-height-3;

    &a {
        font-size: $is-size-4;
        line-height: $line-height-4;
    }

}

// Style for all paragraphs
small {
    font-weight: 500;
}

p {
    font-size: $is-size-5;
    font-weight: 500;
    line-height: $line-height-1;
    color: $dark-grey;
}

li {
    color: $dark-grey;
    font-weight: 500;
}

// Buttons
.dugme {
    background-color: $watermelon-red;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-top: 40px;
    padding: 14px 25px;

    &:hover {
        color: white !important;
    }

    img {
        height: 10px;
        margin-left: 8px;
        width: 10px;
    }
}