// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../../node_modules/bulma-scss/utilities/initial-variables";

$tablet: 768px;
$fullhd: 1400px + (2 * $gap);

//font-family
$family-primary: 'Montserrat', sans-serif;;

//font-size
$is-size-1: 42px;
$is-size-2: 28px;
$is-size-3: 24px;
$is-size-4: 20px;
$is-size-5: 16px;
$is-size-6: 14px;
$is-size-7: 12px;

//line-height
$line-height-1: 1.38;
$line-height-2: 1.3;
$line-height-3: 1.24;
$line-height-4: 1.13;
$line-height-5: 1.1;
$line-height-6: 3.43;

//line-height for mobile
$line-height-7: 1.25;
$line-height-8: 1.43;
$line-height-9: 4;
$line-height-10: 1.14;
$line-height-11: 1.5;

//line-height for tablet
$line-height-12: 1.36;


@import "../../node_modules/bulma-scss/bulma";