@use "variables" as *;
@use "bulma" as *;


.nav__bar {
    align-items: center;
    background-color: $dark-grey;
    border-bottom: 1px solid white;
    display: flex;
    height: 90px;
    position: fixed;
    top: 0px;
    z-index: 5;
    width: 100vw;
}

.nav__bar__wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.nav__bar__brand {
    margin: 10px 0 0 10px;
    width: 205px;
    flex-shrink: 0;

    img {
        margin: 0;
        width: 100%;
        height: auto;
    }
}

.navbar__scroll__overlay {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 7%, $dark-grey 100%);
    height: 40px;
    width: 40px;
    position: fixed;
    right: 0;
    top: 49px;
    z-index: 10;
}

.navbar__menu {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: 40px;
    // padding-bottom: 9px;
    width: 100vw;

    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.navbar__item_wrapper {
    position: relative;
}

.navbar__item, .navbar__link {
    color: $white;
    font-size: 14px;
    font-weight: 600;
    padding: 0 20px;
    white-space: nowrap;

    &:hover {
        color: $white;
    }
}

a.navbar__item.current {
    &::after  {
        display: block;
        position: absolute;
        width: calc(100% - 40px);
        left: 20px;
        padding-bottom: 3px;
        background-color: $watermelon-red;       
    }
}

.navbar__item--kontakt {
    color: #ff4d5a;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    position: fixed;
    right: 10px;
    top: 15px;
}


@media screen and (max-width: 1216px) {

    .nav__bar {
        height: 105px;
        padding: 0 20px;
    }

    .nav__bar__wrapper {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    .navbar__scroll__overlay {
        display: none;
    }

    .nav__bar__brand {
        margin: 20px 0 0 0;

        img {
            margin: 0;
        }
    }

    .navbar__menu {
        height: 35px;
        margin-left: -20px;
        // padding-bottom: 9px;
    }

    .navbar__item, .navbar__link {
        font-size: 14px;
        padding: 0 20px;
    }

    a.navbar__item.current {
        &::after  {            
            content: "";
            bottom: -5px; 
        }
    }

    .navbar__item--kontakt {
        font-family: "Montserrat",sans-serif;
        font-size: 14px;
        font-weight: bold;
        line-height: 1;
        position: fixed;
        right: 20px;
        top: 15px;
        align-items: center;
        background-color: $watermelon-red;
        color: white;
        display: flex;
        justify-content: center;
        height: 39px;
        padding: 10px 20px;
        width: 110px;
    }
}

@media screen and (max-width: 768px) {

    .nav__bar {
        height: 90px;
        padding: 0 10px;
    }

    .nav__bar__brand {
        margin: 8px 0 0 0;

        img {
            height: 35px;
            width: 179px;
        }
    }

    .navbar__menu {
        height: 40px;
        margin-left: -12px;

        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
        
        &::-webkit-scrollbar { 
            display: none;  /* Safari and Chrome */
        }
    }

    .navbar__item, .navbar__link {
        font-size: 14px;
        padding: 11px 12px;
    }

    a.navbar__item.current {
        &::after  {            
            content: "";
            bottom: -8px; 
            width: calc(100% - 24px);
            left: 12px;
        }
    }

    .navbar__item--kontakt {
        font-family: "Montserrat",sans-serif;
        font-size: 14px;
        font-weight: bold;
        line-height: 1;
        position: fixed;
        right: 0;
        top: 0;
        align-items: center;
        background-color: transparent;
        color: $watermelon-red;
        display: flex;
        justify-content: center;
        height: 52px;
        padding: 17px 10px;
        width: auto;
    }
}

@media screen and (min-width: 1215px) {
    //** Desktop navigation
    // Sticky navigation
    .nav__bar {
        height: 80px;
    }

    .navbar__menu {
        justify-content: flex-end;
    }

    .nav__bar__wrapper {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav__bar__brand {
        margin: -1px 0 0;

        img {
            width: 200px;
        }
    }

    .navbar__item, .navbar__link {
        align-items: center;
        display: flex;
        height: 100%;
        padding: 10px 20px;
    }

    .navbar__item.current {
        &::after  {
            content: "";
            bottom: 1px;
        }
    }

    .navbar__item--kontakt {
        align-items: center;
        background-color: $watermelon-red;
        color: white;
        display: flex;
        justify-content: center;
        height: 39px;
        position: static;
        padding: 10px 20px;
        width: 110px;

        &:hover {
            color: white;
        }
    }

    
}