@use '../base/' as *;


@media screen and (min-width: 1025px) {

    // Banner
    // HERO - elektronička fiskalizacija u Srbiji

    .hero-body {
        position: relative;
    }

    .baner__center {
        align-items: center;
        display: flex;
    }

    .baner__align {
        width: 47%;
        z-index: 1;

        h1, p {
            color: white;
        }
    }

    .baner__slika {
        width: 100%;
        img {
            height: 100%;
            left: 0;
            object-fit: cover;
            object-position: center center;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    .hero.is-large {
        background-color: $dark-grey;
        color: $white;
        font-weight: bold;
        height: 940px;
        

        .title {
            font-size: $is-size-1;
            line-height: $line-height-3;
            padding-bottom: 30px;
        }

        .subtitle {
            font-size: $is-size-5;
            color: $white;
            font-weight: 500;
            line-height: $line-height-1;
        }

        &.no-text {
            height: auto;

            .hero-body {
                padding: 0;
            }
            .baner__slika img {
                position: static;
            }
        }

    }

    // Baner Intro
    #pocetna .baner__slika {
        width: auto;
        img {
            height: 100%;
            // left: 51%;
            left: 0;
            object-fit: cover;
            // object-position: 65% 50%;
            object-position: center center;
            position: absolute;
            top: 0;
            // width: 49%;
            width: 100%;
        }
    } 

    // Titles for all sections

    .title {
        font-size: $is-size-1;
        font-weight: bold;
        color: $dark-grey;
        line-height: $line-height-3;

        &a {
            font-size: $is-size-4;
            line-height: $line-height-4;
        }

    }


    // Style for all paragraphs
    p {
        font-size: $is-size-5;
        font-weight: 500;
        line-height: $line-height-1;
        color: $dark-grey;
    }


    // VESTI
    #vesti {
        background-color: transparentize($color: $dark, $amount: .95);
        padding: 110px 0;

        .title.is-5 {
            font-size: $is-size-4;
            font-weight: bold;
            line-height: 26px;
            color: $dark-grey;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            margin-bottom: 15px;
        }
    }
    
    .vesti {

        &__wrapper {
            a {
                color: #4a4a4a;
                width: 25%;
            }
        }

        &__tease {

            &__thumb {
                width: 100%;
                height: 180px;
                object-fit: cover;
                padding-bottom: 15px;
            }
        }
    }

    .swiper {
        width: 100%;
        height: auto;
        position: relative;

        .swiper-slide {
            margin-bottom: 40px;
            width: calc(25% - 30px);

            &:not(:last-child) {
                margin-right: 40px !important;
            }
        }

        .swiper-button {
            &-prev, &-next {
                height: 40px;
                position: absolute;
                top: 20px;
                width: 40px;
    
                &::after {
                    content: '';
                }
            }

            &-prev { 
                background-image: url('../../assets/images/strelica-L-dark.svg') !important;
                left: auto;
                right: 60px;
            }

            &-next { 
                background-image: url('../../assets/images/strelica-R-dark.svg') !important;
                right: 0px;
            }
        }

        .swiper-scrollbar {
            width: 100%;
        }

    }
    
    .swiper-horizontal>.swiper-scrollbar {
        left: 0 !important;
        width: 100% !important;
    }
    
    #potrebno {
        padding: 100px 0;

        h2 {
            margin-bottom: 2vw;
        }

        .swiper {
            width: 100%;
            height: auto;
            position: relative;

            .swiper-wrapper {
                width: 100%;
            }
    
            .swiper-slide {
                margin-bottom: 0;
                width: 20% !important;
    
                &:not(:last-child) {
                    margin-right: 0 !important;
                }
            }
        }
    }

    .uputstva__naslovi--tablet {
        display: flex;
        overflow-x: auto;
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        width: 100%;
        
        &::-webkit-scrollbar { /* WebKit */
            width: 0;
            height: 0;
        }
    }

    .swiper__slide--tablet {
        width: 20%;
    }
    
    .uputstva {
        
        &__naslovi {
            align-items: center;
            border-bottom: 2px solid transparentize($dark-grey, .9);
            display: flex;
            margin-bottom: 75px;
            position: relative;
        }
        
        &__naslov {
            cursor: pointer;
            font-size: min(1.2vw, 16px);
            font-weight: bold;
            padding: 0 5px 12px 5px;
            text-align: center;
            width: 100%;
            
            &__aktivan {
                bottom: 0;
                border-bottom: 4px solid #ff4d5a;
                height: 4px;
                left: 0;
                position: absolute;
                width: 20%;
                z-index: 1;
            }
        }
        
        &__naslov__aktivan__2 {
            display: none;
            left: 20%;
        }
        &__naslov__aktivan__3 {
            display: none;
            left: 40%;
        }
        &__naslov__aktivan__4 {
            display: none;
            left: 60%;
        }
        &__naslov__aktivan__5 {
            display: none;
            left: 80%;
        }
        
        &__broj {
            color: transparentize($watermelon-red, .85);
            font-size: 375px;
            font-weight: 900;
            // left: -2%;
            left: 5%;
            line-height: 0;
            position: absolute;
            top: 50%;
        }
        
        &__tekst {
            font-size: min(1.25vw, 16px);
            padding: 4% 5%;
            // width: 50%;
            width: 75%;
        }
        
        &__sadrzaj {
            align-items: center;
            display: flex;
            justify-content: flex-end;
            height: 375px;
            position: relative;
        }

        &__video {
            height: 0;
            max-width: 1200px;
            padding-bottom: 33.75%;
            position: relative;
            width: 60%;
            
            iframe {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
        }
    }

    .uputstva__video__wrapper {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    

    .title.is-5 {
        font-size: $is-size-4;
        font-weight: bold;
        line-height: $line-height-5;
        color: $dark-grey;
    }



    // Dokumenti
    .tease-dokument {
        width: 48%;

        .dokumenti {
            &__tease {

                &__wrapper {
                    border-bottom: 1px solid $grey-light;
                    flex: 48%;
                }
            }
        } 
    }

    #dokumenti {
        background-color: transparentize($color: $dark, $amount: .95);
        padding: 100px 0;

        .mt-2 {
            font-size: $is-size-6;
            line-height: $line-height-6;
            font-weight: bold;
        }
    }

    .dokumenti {
        &__sadrzaj {
            align-items: stretch;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            &__wrapper {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        &__naslov {
            width: calc(100% - 40px);
            padding-right: 10px;
        }

        &__link {
            img {
                height: 40px;
                width: 40px;
            }
        }
    }

    .dokument {
        &__aktivnost {
            opacity: 0.5;
            // font-family: Montserrat;
            // font-size: 12px;
            font-weight: bold;
        }
    }

    // Baner - promo
    #baner__promo {
        background-color: white;

            .title {
                color: white;
            }

        // .dugme {
        //     margin: 10px 0 20px;
        // }
    }

    // Pitanja
    .pitanje {
        &:not(:last-child) {
            border-bottom: 1px solid $grey-light;
        }

        &__header h4 {
            width: 100%;
            padding-right: 20px;
        }

        &__button {

            &__add, &__remove {
                cursor: pointer;
                height: 30px;
                width: 30px;
            }
        }

        p {
            padding-right: 50px;
        }
    }

    #pitanja {
        background-color: transparentize($color: $dark, $amount: .95);
        padding: 100px 0;

        .pitanje {
            width: 100%;
        }
    }

    // FOOTER
    footer {
        background-color: $dark-grey;
    }

    .footer__kontakti {
        display: flex;
    }

    .footer__kontakt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .footer__slogan {
        display: none;
    }

    .footer__kontakt__telefon {
        border-right: 2px solid rgba($color: #fff, $alpha: .1);
        padding-right: 40px;
    }

    .footer__kontakt__email {
        padding-left: 40px;
    }

    .hero-body.footer {
        background-color: $dark-grey;
        color: $white;
        height: 342px;
        justify-content: space-between;
        width: 100%;

        h2 {
            font-size: $is-size-1;
            font-weight: bold;
            padding-bottom: 40px;
        }

        h3 {
            font-size: $is-size-4;
            font-weight: bold;
            padding-bottom: 19px;
        }

        p {
            font-size: $is-size-5;
            color: $white;

            a, a:hover {
                color: $white !important;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

    .footer__kontakti {
        display: flex;
    }

    .footer__slogan {
        display: block;
    }

    .hero.is-small .hero-body { 
        padding: 0;
    }

    .hero-body.footer {
        align-items: center;

        img {
            width: 502px;
        }
    }

    // Single Vijest
    .vijest__single__wrapper {
        margin-top: 100px;
        padding-bottom: 100px;
        width: 900px;

        h1, h2, h4, p, ul, ol, small {
            padding: 0;
        }

        ul, ol {
            margin-bottom: 20px;
        }

        ul {
            list-style: square outside;
            margin-left: 20px;

            li::marker {
                color: $watermelon-red;
                font-size: 22px;
                font-weight: bold;
            }
        }

                    
        ol {
            counter-reset: item;
            list-style-type: none;
            list-style: outside;
            margin-left: 20px;
        }
        
        ol li {
            display: block;
        }
        
        ol li:before {
            content: counter(item) " ";
            counter-increment: item;
            color: $watermelon-red;
            font-size: 20px;
            font-weight: bold;
            margin-left: -20px;
            padding-right: 3px;
        }


        p {
            line-height: 2;
            padding-bottom: 20px;
        }

        a {
            color: $watermelon-red;
        }

        h1 {
            font-size: 42px;
        }

        h2 {
            color: $dark-grey;
            font-size: 20px;
            font-weight: bold;
            padding-bottom: 20px;
        }

        figure.wp-block-image {
            margin-bottom: 10px;
            padding-bottom: 10px;
            
            &::after {
                content: "";
                display: block;
                height: 1px;
                width: 100%;
                position: relative;
                background-color: #2f374c;
                bottom: -8px;
            }

            figcaption {
                font-size: 11px;
                padding: 0;
            }
        }

        .title.is-1 {
            font-size: 42px;
            margin-top: 20px;
        }

        .vijest__excerpt {
            color: $dark-grey;
            font-size: 20px;
            font-weight: bold;
            opacity: .5;
            padding-bottom: 40px;
        }

        .vijest__slika__naslovna {
            padding-bottom: 30px;
            width: 100%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

       

        .wp-block-embed.is-type-video {
            height: 0;
            padding-bottom: 56.25%;
            margin: 0 0 30px 0;
            width: 100%;

            .wp-block-embed__wrapper {
                height: 0;
                padding-bottom: 56.25%;
                position: relative;
            }

            iframe {
                height: 100%;
                position: absolute;
                width: 100%;
            }
        }

        .swiperGalerija {
            height: 507px !important;
            margin-bottom: 40px;
        }

        .swiper {
            position: relative;

            .swiper-slide img {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }

            .vijesti__swiper-pagination--fraction {
                bottom: 20px;
                color: white;
                font-size: 20px;
                font-weight: bold;
                position: absolute;
                left: 20px;
                right: auto;
                z-index: 5;
            }
        }

        .swiper-autoheight, .swiper-autoheight .swiper-slide {
            height: 100%;
        }

        .vijest__galerija__overlay {
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), $dark-grey);
            bottom: 0;
            display: block;
            height: 80px;
            left: 0;
            opacity: 0.5;
            position: absolute;
            right: 0;
        }

        .swiper .swiper-slide:not(:last-child) {
            margin-right: 0 !important;
        }

        .swiper-button {
            &-prev, &-next {
                height: 40px;
                position: absolute;
                width: 40px;
    
                &::after {
                    content: '';
                }
            }

            &-prev { 
                background-image: url('../../assets/images/strelica-L-white.svg') !important;
                left: auto;
                right: 80px;
                top: auto;
                bottom: 20px;
            }

            &-next { 
                background-image: url('../../assets/images/strelica-R-white.svg') !important;
                top: auto;
                bottom: 20px;
                left: auto;
                right: 20px;
            }

            &-disabled {
                opacity: .7 !important;
            }
        }

        .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
            bottom: 20px;
            color: white;
            font-weight: bold;
            left: 20px;
            width: auto;
        }
    }
    //Error page
.error {
    font-size: 60px;
    font-weight: bold;
}

.notfound {
    font-size: $is-size-1;
    margin-bottom: 50px;
}
}

@media screen and (min-width: 1920px) {
    // Baner Intro
    #pocetna .baner__slika img {
        left: 0;
        object-position: center center;
        width: 100%;
    }
}



