@use '../base/' as *;

:root {
    --swiper-theme-color: #ff4d5a !important;
}

@media screen and (max-width: 500px){
    #pocetna, #baner__promo {
        .title, .subtitle {
            text-align: center;
        }
    }

}

@media screen and (max-width: 767px){
    // Base
    body {
        top: 90px !important;
    }

    .dugme {
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
    }
    
    // Banner
    .hero-body {
        flex-direction: column;
        padding: 0;
        position: relative;
    }

    .baner {
        &__center {
            padding: 10px 20px 20px;
        }

        &__slika img {
            height: 75vw;
            width: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }

    .no-text {
        .baner__slika {
            img {
                float: left;
                width: 100%;
                clear: both;
                height: auto;
            }
        }
        .baner__center {
            display: none;
        }
    }

    // Intro baner - elektronička fiskalizacija u Srbiji
    #pocetna {
        height: auto;
        .hero-body {
            padding: 0 !important;
        }
        .title, .subtitle {
            color: white;
        }
    }

    .hero.is-large {
        background-color: $dark-grey;
        color: $white;
        font-weight: bold;

        .title {
            font-size: $is-size-3;
            line-height: $line-height-7;
            font-weight: bold;  
        }

        .subtitle {
            font-size: $is-size-6;
            font-weight: 500;
            line-height: $line-height-8;
        }
    }

    // Titles for all sections

    .title {
        font-size: $is-size-3;
        font-weight: bold;
        color: $dark-grey;
        line-height: $line-height-7;

        &a {
            font-size: $is-size-4;
            line-height: $line-height-4;
        }

    }


    // Style for all paragraphs
    p {
        font-size: $is-size-5;
        font-weight: 500;
        line-height: $line-height-1;
        color: $dark-grey;
    }


    // VESTI
    .vesti {
        &__wrapper {
            a {
                color: #4a4a4a;
                width: 25%;
            }
        }

        &__tease__thumb {
            width: 100%;
            height: 152px;
            object-fit: cover;
            padding-bottom: 8px;
        }
    }

    #vesti {
        background-color: transparentize($color: $dark, $amount: .95);
        padding: 40px 0 40px 20px;

        .title.is-5 {
            font-size: 14px;
            line-height: 20px;
            font-weight: bold;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            margin-bottom: 8px;
        }

        p {
            font-size: $is-size-6;
            font-weight: 500;
            line-height: $line-height-8;
        }
    }

    .swiper {
        width: 100%;
        height: auto;
        position: relative;

        .swiper-slide {
            margin-bottom: 36px;
            width: 250px;

            &:not(:last-child) {
                margin-right: 20px !important;
            }
        }
    }

    .swiper-horizontal>.swiper-scrollbar {
        left: 0 !important;
        width: calc(100% - 20px) !important;
    }

    // Uputstva
    #potrebno {
        padding: 40px 0 0;

        h2, h4, p {
            margin-left: 20px;
            margin-right: 20px;
        }

        h4 {
            color: $dark-grey;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .uputstva {
            
            &__sadrzaj {
                align-items: center;
                display: flex;
                flex-direction: column;
                height: auto;
                position: relative;
            }
        }

        .potrebno__wrapper__mobile {
            display: flex;
            flex-direction: column;
        }

        .uputstva__video__wrapper {
            bottom: 0;
            height: 0;
            padding-bottom: 56.25%;
            position: relative;
            width: 100%;
            
            iframe {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
        }

        .swiperUpute {
            height: auto;
            padding-bottom: 70px;
            width: 100%;

            .swiper-slide {
                height: auto;
                width: 100%;

                .uputstva__video {
                    bottom: 0;
                    height: 0;
                    margin-top: 72px;
                    padding-bottom: 56.25%;
                    position: relative;
                    width: 100%;
                    
                    iframe {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                    }
                }
            }

            .swiper-pagination {
                align-items: center;
                display: flex;
                justify-content: center;
                // padding-bottom: calc(56.25% + 25px);
                padding: 25px 0;
            }

            .swiper-pagination-bullet {
                border-radius: 0;
                display: inline-block;
                height: 6px;
                width: 6px;

                &-active {
                    width: 12px;
                    height: 12px;
                }
            }

        }
    }


    // Dokumenti 
    .tease-dokument {
        .dokumenti {
            &__wrapper {
                .title:not(:last-child) {
                    margin-bottom: 0 !important;
                }
            }

            &__tease {
                &__wrapper {
                    border-bottom: 2px solid transparentize($color: $dark, $amount: .9);
                }
            }

            &__naslov {
                padding-right: 10px;
                width: calc(100% - 40px);
            }

            &__link {
                justify-content: flex-start !important;
                margin-top: 30px;
                width: 40px;
            }
        } 
    }

    #dokumenti {
        background-color: transparentize($color: $dark, $amount: .95);
        padding: 40px 20px;

        .mt-2 {
            font-size: $is-size-7;
            line-height: $line-height-8;
            font-weight: bold;
        }

        .title.is-5 {
            font-size: $is-size-6;
            line-height: 20px;
            font-weight: bold;
        }

        p {
            font-size: $is-size-7;
            font-weight: 500;
            line-height: 1.5;
        }

        .dugme {
            background-color: $watermelon-red;
            color: white;
            font-weight: bold;
            margin-top: 30px;
            padding: 14px 25px;

            &:hover {
                color: white !important;
            }

            img {
                height: 10px;
                margin-left: 8px;
                width: 10px;
            }
        }

        .dokument {
            &__aktivnost {
                opacity: 0.5;
                font-weight: bold;
            }

            &__aktivnost, &__datum { 
                padding-top: 3px;
            }
        }
    }

    // Baner - promo
    #baner__promo {
        background-color: white;

            .title {
                color: $dark-grey;
                padding: 5px 0 10px;
            }

        .dugme {
            margin: 10px 0 20px;
        }
    }

    // Pitanja
    #pitanja {
        background-color: transparentize($color: $dark, $amount: .95);
        padding: 40px 20px;

        h2 {
            margin-bottom: 0;
        }

        .pitanje {
            border-bottom: 2px solid transparentize($color: $dark, $amount: .9);
            width: 100%;

            &__header h4 {
                width: 100%;
                padding-right: 10px;
            }
        }

        .title.is-5 {
            font-size: $is-size-6;
            line-height: 20px;
            font-weight: bold;
        }

        p {
            font-size: $is-size-7;
            font-weight: 500;
            line-height: 1.5;
            width: 100%;
            padding-right: 50px;
        }
    }

    // FOOTER
    footer {
        background-color: $dark-grey;
        height: 233px;
    }

    .hero-body.footer {
        background-color: $dark-grey;
        color: $white;
        height: 233px;
        padding: 40px 20px 20px 20px;
        width: 100%;
        

        h2 {
            font-size: $is-size-3;
            font-weight: bold;
            line-height: $line-height-7;
            margin: 20px 0;
        }

        h3 {
            font-size: $is-size-6;
            font-weight: bold; 
            line-height: $line-height-10;
            margin-bottom: 9px;
            opacity: 1;
        }

        p {
            color: $white;
            font-size: $is-size-7;
            line-height: $line-height-11;
            margin-bottom: 20px;

            a, a:hover {
                color: $white !important;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

    // Single Vijest
    .vijest__single__wrapper {
        padding: 15px 0 20px;

        h1, h2, h4, p, ul, ol, small {
            padding: 0 20px;
        }

        ul, ol {
            margin-bottom: 20px;
        }

        ul {
            list-style: square outside;
            margin-left: 20px;

            li::marker {
                color: $watermelon-red;
                font-size: 22px;
                font-weight: bold;
            }
        }

                    
        ol {
            counter-reset: item;
            list-style-type: none;
            list-style: outside;
            margin-left: 20px;
        }
        
        ol li {
            display: block;
        }
        
        ol li:before {
            content: counter(item) " ";
            counter-increment: item;
            color: $watermelon-red;
            font-size: 20px;
            font-weight: bold;
            margin-left: -20px;
            padding-right: 3px;
        }


        p {
            line-height: 2;
            padding-bottom: 20px;
        }

        a {
            color: $watermelon-red;
        }

        h1 {
            font-size: 24px;
            padding-top: 25px;
        }

        h2 {
            color: $dark-grey;
            font-size: 18px;
            font-weight: bold;
            padding-bottom: 20px;
        }

        .title.is-1 {
            font-size: 24px;
            padding-top: 25px;
        }

        .vijest__excerpt {
            color: $dark-grey;
            font-size: 16px;
            font-weight: bold;
            opacity: .5;
            padding-bottom: 30px;
        }

        .vijest__slika__naslovna {
            padding-bottom: 30px;
            width: 100vw;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        figure.wp-block-image {
            margin-bottom: 10px;
            padding-bottom: 10px;
            
            &::after {
                content: "";
                display: block;
                height: 1px;
                width: calc(100% - 40px);
                position: relative;
                left: 18px;
                background-color: #2f374c;
                bottom: -8px;
            }

            figcaption {
                font-size: 11px;
                padding: 0 20px;
            }
        }

        .wp-block-embed.is-type-video {
            height: 0;
            padding-bottom: 56.25%;
            margin-bottom: 30px;
            width: 100vw;

            .wp-block-embed__wrapper {
                height: 0;
                padding-bottom: 56.25%;
                position: relative;
            }

            iframe {
                height: 100%;
                position: absolute;
                width: 100%;
            }
        }

        .swiper-pagination-bullets {
            align-items: center;
            display: flex;
            justify-content: center;
            padding-bottom: 0;
        }

        .swiper-pagination-bullet {
            border-radius: 0;
            display: inline-block;
            height: 6px;
            margin: 0 5px !important;
            width: 6px;

            &-active {
                width: 12px;
                height: 12px;
            }
        }

        .swiperGalerija {
            margin-bottom: 20px;
            width: 100vw;
        }

        .swiper {
            position: relative;

            .swiper-wrapper {
                height: 100%;
            }

            .vijesti__swiper-pagination--fraction {
                bottom: 62px;
                color: white;
                font-size: 16px;
                font-weight: bold;
                position: absolute;
                right: 20px;
                z-index: 5;
            }

            .swiper .swiper-slide {
                margin-bottom: 0;
            }

            .swiper-slide img {
                height: 56vw;
                object-fit: cover;
                width: 100%;
            }
        }

        .swiper-autoheight, .swiper-autoheight .swiper-slide {
            height: 100%;
        }

        .vijest__galerija__overlay {
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), $dark-grey);
            bottom: 7px;
            display: block;
            height: 13.88vw;
            left: 0;
            opacity: 0.5;
            position: absolute;
            right: 0;
        }

        .swiper .swiper-slide:not(:last-child) {
            margin-right: 0 !important;
        }

        .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
            bottom: 20px;
            color: white;
            font-weight: bold;
            left: 20px;
            width: auto;
        }
    }

    //Error page
    .error {
        font-size: 40px;
        font-weight: bold;
    }

    .notfound {
        font-size: 24px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 300px) {
    body {
        max-width: 400px !important;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    #potrebno .swiperUpute {
        display: flex;
        flex-direction: column;
        height: auto;
        padding-bottom: 70px;
        width: 100%;
    }
    
    .swiper .swiper-wrapper {
        width: auto !important;
    }

    .uputstva__tekst--mob {
        margin-bottom: 0 !important;
        min-height: initial !important;
    }

    #potrebno .potrebno__wrapper .swiperUpute  .swiper-pagination {
        bottom: 0vw !important;
        padding-bottom: 20px;
    }

    .uputstva__naslov {
        margin-bottom: 10px !important;
        text-align: left !important;
        width: auto !important;
    }

    .uputstva__video__wrapper {
        margin-bottom: 25px;
        position: static !important;
        // display: block !important;
    }
    
    #potrebno p, #potrebno h2, #potrebno h4 {
        margin-left: 0;
        margin-right: 0;
    }
    .uputstva__tekst--mob {
        font-size: 16px !important;
        margin-left: 0;
        padding: 0 !important;
        width: 90vw !important;
    }
}