@use '../base/' as *;

@media screen and (min-width: 540px) and (max-width: 1024px) {
    // Base
    body {
        top: 105px;
    }

    // Banner
    .hero.is-large .hero-body {
        padding: 0 20px;
    }

    .hero-body {
        height: 100%;
        position: relative;
    }
   
    .hero.is-large {
        background-color: $dark-grey;
        color: $white;
        font-weight: bold;
        height: 528px;
        

        .title {
            font-size: 27px;
            line-height: $line-height-12;
            font-weight: bold;
        }

        .subtitle {
            font-size: $is-size-6;
            color: $white;
            font-weight: 500;
            line-height: $line-height-8;
        }

        &.no-text {
            height: auto;

            .hero-body {
                padding: 0;
            }

            .baner__slika img {
                position: static;
                height: 100%;
            }
        }
    }

    // Titles for all sections

    .title {
        font-size: $is-size-2;
        font-weight: bold;
        color: $dark-grey;
        line-height: $line-height-12;

        &a {
            font-size: $is-size-4;
            line-height: $line-height-4;
        }

    }

    // VESTI
    .vesti {
        &__wrapper {
            a {
                color: #4a4a4a;
                width: 25%;
            }
        }


        &__tease {

            &__thumb {
                width: 100%;
                height: 140px;
                object-fit: cover;
                padding-bottom: 9px;
            }
        }
    }

    #vesti {
        background-color: transparentize($color: $dark, $amount: .95);
        padding: 40px 0 40px 20px;

        .title.is-5 {
            font-size: $is-size-6;
            line-height: $line-height-8;
            font-weight: bold;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            margin-bottom: 8px;
        }

        p {
            font-size: $is-size-6;
            font-weight: 500;
            line-height: $line-height-8;
        }
    }

    .swiper {
        width: 100%;
        height:auto;
        position: relative;

        .swiper-slide {
            margin-bottom: 36px;
            width: 250px;

            &:not(:last-child) {
                margin-right: 20px !important;
            }
        }
    }

    .swiper-horizontal>.swiper-scrollbar {
        left: 0 !important;
        width: calc(100% - 20px) !important;
    }

    // Uputstva
    #potrebno {
        height: fit-content;
        padding: 40px 20px;

        h2 {
            margin-bottom: 20px;
        }
    }

    .uputstva__naslovi--tablet {
        display: flex;
        overflow-x: auto;
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        
        &::-webkit-scrollbar { /* WebKit */
            width: 0;
            height: 0;
        }
    }

    .uputstva {
        
        &__naslovi {
            align-items: center;
            border-bottom: 2px solid transparentize($dark-grey, .9);
            display: flex;
            position: relative;
        }
        
        &__naslov {
            cursor: pointer;
            font-size: min(1.2vw, 16px);
            font-weight: bold;
            padding: 0 5px 12px 5px;
            text-align: center;
            width: 20%;

            &__aktivan {
                display: none;
            }
        }
        
        &__naslov__aktivan__2 {
            display: none;
            left: 20%;
        }
        &__naslov__aktivan__3 {
            display: none;
            left: 40%;
        }
        &__naslov__aktivan__4 {
            display: none;
            left: 60%;
        }
        &__naslov__aktivan__5 {
            display: none;
            left: 80%;
        }
        
        &__broj {
            color: transparentize($watermelon-red, .85);
            font-size: 375px;
            font-weight: 900;
            left: 7%;
            line-height: 0;
            position: absolute;
            // top: 20%;
            top: 50%;
        }
        
        &__tekst {
            font-size: min(1.25vw, 16px);
            height: fit-content;
            min-height: 300px;
            padding: 10% 10%;
            width: 100%;
        }
        
        &__sadrzaj {
            align-items: center;
            display: flex;
            flex-direction: column;
            position: relative;
        }
        
        &__video {
            height: 56.25vw;
            margin-top: 20px;
            position: relative;
            width: 100%;
            
            iframe {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
        }
    }

    .title.is-5 {
        font-size: $is-size-4;
        font-weight: bold;
        line-height: $line-height-5;
        color: $dark-grey;
    }

    .swiper {
        .swiper__slide--tablet {
            margin-bottom: 0;
            width: fit-content;

            .uputstva__naslov {
                bottom: 0;
                font-size: 14px;
                line-height: 1.2;
                padding: 0 0 7px 0;
                position: relative;
                width: fit-content;
                z-index: 5;
            }
        }

        .swiper-slide:not(:last-child) {
            margin-right: 30px!important;
        }

        .swiper-wrapper {
            width: fit-content;
        }
    }

    // Dokumenti
    .tease-dokument {
        .dokumenti {
            &__tease {
                &__wrapper {
                    border-bottom: 1px solid $grey-light;
                    width: 100%;
                }
            }

            &__naslov {
                padding-right: 20px;
                width: calc(100% - 20px);
            }
        } 
    }

    #dokumenti {
        background-color: transparentize($color: $dark, $amount: .95);
        padding: 40px 20px;

        .mt-2 {
            font-size: $is-size-7;
            line-height: $line-height-9;
            font-weight: bold;
        }

        .title.is-5 {
            font-size: $is-size-5;
            line-height: $line-height-1;
            font-weight: bold;
        }

        p {
            font-size: $is-size-6;
            font-weight: 500;
            line-height: $line-height-8;
        }

        
        .dokumenti__sadrzaj__wrapper {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .dugme {
            background-color: $watermelon-red;
            color: white;
            font-size: $is-size-6;
            line-height: 18px;
            font-weight: bold;
            margin-top: 40px;
            padding: 14px 25px;

            &:hover {
                color: white !important;
            }

            img {
                height: 10px;
                margin-left: 8px;
                width: 10px;
            }
        }
    }

    // Baner - promo
    #baner__promo {
        background-color: white;

            .title {
                color: white;
                padding-bottom: 20px;
            }

        a, .dugme {
            display: flex;
            min-width: 200px;
        }

        a {
            justify-content: flex-start;
        }

        .dugme {
            justify-content: center;
            margin-top: 0;
        }

    }

    // Pitanja
    .pitanje {
        &:not(:last-child) {
            border-bottom: 1px solid $grey-light;
        }

        &__header h4 {
            width: 100%;
            padding-right: 20px;
        }

        &__button {

            &__add, &__remove {
                cursor: pointer;
                height: 30px;
                width: 30px;
            }
        }
    }

    #pitanja {
        background-color: transparentize($color: $dark, $amount: .95);
        padding: 40px 20px;

        .title.is-5 {
            font-size: $is-size-5;
            line-height: $line-height-1;
            font-weight: bold;
        }

        .pitanje {
            width: 100%;
        }

        p {
            font-size: $is-size-6;
            font-weight: 500;
            line-height: $line-height-8;
            padding-right: 50px;
        }

    }

    // FOOTER
    footer {
        height: 282px;
    }

    .footer__kontakti {
        display: flex;
    }

    .footer__kontakt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .footer__slogan {
        display: none;
    }

    .footer__kontakt__telefon {
        border-right: 2px solid rgba($color: #fff, $alpha: .1);
        padding-right: 40px;
    }

    .footer__kontakt__email {
        padding-left: 40px;
    }

    .hero-body.footer {
        align-items: center;
        background-color: $dark-grey;
        color: $white;
        height: 282px;
        justify-content: space-between;
        padding: 0;
        width: 100%;

        h2 {
            font-size: $is-size-2;
            font-weight: bold;
            line-height: $line-height-12;
            margin-bottom: 30px;
        }

        h3 {
            font-size: $is-size-5;
            font-weight: bold; 
            line-height: $line-height-1;
            margin-bottom: 20px;
        }

        p {
            font-size: $is-size-6;
            line-height: $line-height-8;
            font-weight: 500;
            color: $white;
            opacity: 0.5;

            a, a:hover {
                color: $white !important;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

    // Single Vijest
    .vijest__single__wrapper {
        padding: 20px 0;

        h1, h2, h4, p, ul, ol, small {
            padding: 0 20px;
        }

        ul, ol {
            margin-bottom: 20px;
        }

        ul {
            list-style: square outside;
            margin-left: 20px;

            li::marker {
                color: $watermelon-red;
                font-size: 22px;
                font-weight: bold;
            }
        }

                    
        ol {
            counter-reset: item;
            list-style-type: none;
            list-style: outside;
            margin-left: 20px;
        }
        
        ol li {
            display: block;
        }
        
        ol li:before {
            content: counter(item) " ";
            counter-increment: item;
            color: $watermelon-red;
            font-size: 20px;
            font-weight: bold;
            margin-left: -20px;
            padding-right: 3px;
        }


        p {
            line-height: 2;
            padding-bottom: 20px;
        }

        a {
            color: $watermelon-red;
        }

        h1 {
            font-size: 24px;
        }

        h2 {
            color: $dark-grey;
            font-size: 18px;
            font-weight: bold;
            padding-bottom: 20px;
        }

        .title.is-1 {
            font-size: 28px;
            margin-top: 20px;
        }

        .vijest__excerpt {
            color: $dark-grey;
            font-size: 16px;
            font-weight: bold;
            opacity: .5;
            padding-bottom: 30px;
        }

        .vijest__slika__naslovna {
            padding: 0 0 30px 20px;
            width: calc(100vw - 20px);

            picture {
                width: 100%;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        figure.wp-block-image {
            margin-bottom: 10px;
            padding-bottom: 10px;
            
            &::after {
                content: "";
                display: block;
                height: 1px;
                width: 100%;
                position: relative;
                background-color: #2f374c;
                bottom: -8px;
            }

            figcaption {
                font-size: 11px;
                padding: 0;
            }
        }

        .wp-block-embed.is-type-video {
            height: 0;
            padding-bottom: 56.25%;
            margin: 0 20px 30px 20px;
            width: calc(100vw - 40px);

            .wp-block-embed__wrapper {
                height: 0;
                padding-bottom: 56.25%;
                position: relative;
            }

            iframe {
                height: 100%;
                position: absolute;
                width: 100%;
            }
        }

        .swiperGalerija {
            height: 53vw !important;
            margin-bottom: 20px;
            width: calc(100vw - 40px);
        }

        .swiper {
            position: relative;

            .swiper-slide img {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }

            .vijesti__swiper-pagination--fraction {
                bottom: 20px;
                color: white;
                font-size: 20px;
                font-weight: bold;
                position: absolute;
                left: 20px;
                right: auto;
                z-index: 5;
            }
        }

        .swiper-autoheight, .swiper-autoheight .swiper-slide {
            height: 100%;
        }

        .vijest__galerija__overlay {
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), $dark-grey);
            bottom: 0;
            display: block;
            height: 80px;
            left: 0;
            opacity: 0.5;
            position: absolute;
            right: 0;
        }

        .swiper .swiper-slide:not(:last-child) {
            margin-right: 0 !important;
        }

        .swiper-button {
            &-prev, &-next {
                height: 40px;
                position: absolute;
                width: 40px;
    
                &::after {
                    content: '';
                }
            }

            &-prev { 
                background-image: url('../../assets/images/strelica-L-white.svg') !important;
                left: auto;
                right: 80px;
                top: auto;
                bottom: 20px;
            }

            &-next { 
                background-image: url('../../assets/images/strelica-R-white.svg') !important;
                top: auto;
                bottom: 20px;
                left: auto;
                right: 20px;
            }

            &-disabled {
                opacity: .7 !important;
            }
        }

        .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
            bottom: 20px;
            color: white;
            font-weight: bold;
            left: 20px;
            width: auto;
        }
    }

        //Error page
        .error {
            font-size: 45px;
            font-weight: bold;
}

        .notfound {
            font-size: 30px;
            margin-bottom: 50px;
}
}

// Larger tablets
@media screen and (min-width: 769px) and (max-width: 1024px) {
    
    
    .hero.is-large .hero-body {
        padding: 0 40px;
    }

    #vesti {
        background-color: transparentize($color: $dark, $amount: .95);
        padding: 60px 40px;
    }

    .swiper-button {
        &-prev, &-next {
            display: none !important;
        }
    }

    .swiper-horizontal>.swiper-scrollbar {
        left: 0 !important;
        width: 100% !important;
    }

    .uputstva {
        &__broj {
            // top: 17%;
            top: 50%;
        }
    }

    .tease-dokument {

        .dokumenti {

            &__naslov {
                padding-right: 20px;
                width: calc(100% - 40px);
            }
        } 
    }

    .baner__slika img {
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
    }

     // Intro baner - elektronička fiskalizacija u Srbiji
     #pocetna {
        .baner__slika img {
            height: 100%;
            // left: 51%;
            left: 0;
            object-fit: cover;
            // object-position: 65% 50%;
            object-position: center center;
            position: absolute;
            top: 0;
            // width: 49%;
            width: 100%;
        }
    }

    .baner__align {
        width: 50%;
        z-index: 1;

        h1, p {
            color: white;
        }
    }

    .baner__center {
        align-items: center;
        display: flex;
        padding: 0;
    }

    #dokumenti {
        padding: 40px 40px;
    }

    .tease-dokument {
        width: 48%;
    }

    .dokumenti__sadrzaj {
        align-items: stretch;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    // FOOTER
    footer {
        background-color: $dark-grey;

        .footer {
            padding: 0 40px !important;
        }
    }

    .footer__kontakti {
        display: flex;
    }

    .footer__slogan {
        display: block;
    }

    .hero.is-small .hero-body { 
        padding: 0;
    }

    .hero-body.footer {
        align-items: center;

        img {
            width: 322px;
        }
    }

    // Single Vijest
    .vijest__single__wrapper {
        margin: 40px;

        h1, h2, h4, p, ul, ol, small {
            padding: 0 0 20px 0;
        }
        
        .vijest__slika__naslovna {
            padding-left: 0;
            width: 100%;
        }
    
        .wp-block-embed.is-type-video {
            margin: 0 0 30px 0;
            width: calc(100vw - 80px);
        }

        .swiper-button-next, .swiper-button-prev {
            display: block !important;
        }
        
        .swiperGalerija { height: 507px !important;
            width: calc(100vw - 80px);
        }
    }
}

// Small tablets
@media screen and (min-width: 540px) and (max-width: 767px) {
    .uputstva__tekst {
        font-size: 16px;
        margin: 0;
        min-height: initial;
        padding: 0;
        width: 100%;
    }

    .uputstva__naslov {
        font-size: 16px;
        font-weight: bold;
        padding: 0;
        text-align: left;
        width: 100%;

        &::after {
            display: none;
        }
    }

    #potrebno {
        position: relative;

        .uputstva__tekst { 
            margin-bottom: 20px;
        }

        .potrebno__wrapper__mobile {
            display: flex;
            flex-direction: column;
        }

        .uputstva__video__wrapper {
            bottom: 0;
            left: 0;
            height: 0;
            // margin-bottom: 30px;
            padding-bottom: 56.25%;
            position: static;
            width: 100%;
            
            iframe {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
        }

        .swiperUpute .swiper-slide, .swiper-wrapper {
            width: 100%;

            .uputstva__video {
                height: calc(56.25vw - 24px);
                margin-top: 70px;
                padding-bottom: 0;
                position: relative;
                width: 100%;
            }

        }

        .uputstva__video {
            height: 52.25vw;
        }
        
        .swiperUpute .swiper-pagination {
            // padding-bottom: calc(56.25% + 20px);
            // bottom: 50vw !important;
            padding-bottom: 20px;
        }

        h2, h4, p {
            padding: 0;
            margin: 0;
        }

        h2, h4 {
            margin-bottom: 20px;
        }
    }
}