{% extends "base.twig" %}

{% block content %}
    <section class="section has-text-centered">
    <h1 class="error has-text-centered pt-5">404</h1>
	<h2 class="notfound has-text-centered">Страница није пронађена</h2>
	<a href="{{site.url}}"><span class="dugme pocetna">Почетна страница</span></a>
	</section>
{% endblock %}