{% block html_head_container %}

	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}



	<body class="{{body_class}}" data-template="base.twig">
		<header class="header" >
			{% block header %}
				<div class="navbar__scroll__overlay is-hidden-tablet"></div>
				<nav class="nav__bar" role="navigation">
					<div class="nav__bar__wrapper container">
						<!-- Logo -->
						<a href="{{ site.url }}" class="nav__bar__brand is-flex is-align-content-center">
							<img src="{{ theme.path }}/assets/images/logo.svg">
						</a>

						<!-- Desktop meni -->
						{% include "menu.twig" with {'items': menu.get_items} %}

					</div>
				</nav><!-- #nav -->
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}

	</body>
</html>
