<section id="footer" class="hero is-small">
        <div class="hero-body footer is-flex container">
			<div class="footer__kontakt">
				<h2>Контакт</h2>
				{% for kontakt in kontakt %}
				<div class="footer__kontakti">
					<div class="footer__kontakt__telefon">
						<h3>Телефон</h3>
						<p>{{ kontakt.telefon }}</p>
					</div>
					<div class="footer__kontakt__email">
						<h3>E-mail адреса</h3>
						<p><a href="mailto:{{ kontakt.e_mail }}">{{ kontakt.e_mail }}</a></p>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="footer__slogan">
				<img class="is-hidden-mobile" src="{{ theme.path }}/assets/images/cist-racun-duga-ljubav.svg">
			</div>
		</div>
</section>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
{# <script type="text/javascript" async="" src="{{ site.theme.link }}/node_modules/jquery/dist/jquery.js"></script> #}
{# <script type="text/javascript" async="" src="{{ site.theme.link }}/assets/script/foot/page.specific.foot-dist.js"></script> #}