{% extends "base.twig" %}


{% block content %}
	<span class="frontpage__marker is-hidden" data-id="{{ is_front_page }}" aria-hidden="true"></span>
	{# Intro baner #}
	<section id="pocetna" class="hero is-large">
		<div class="hero-body is-flex {{ baneri[1].vrsta_banera }}">
		{% set slikaBanera1 = TimberImage(baneri[1].slika_banera) %}
		{% set slikaBaneraMobile1 = TimberImage(baneri[1].slika_banera_mobile) %}
			{% if slikaBanera1.src and slikaBaneraMobile1.src %}
				<picture class="baner__slika">
					<source srcset="{{ slikaBaneraMobile1.src }}" media="(max-width: 767px)">
					<source srcset="{{ slikaBanera1.src }}">
					<img src="{{ slikaBanera1.src }}">
				</picture>
			{% endif %}
			<div class="baner__center container">
				<div class="baner__align is-flex is-flex-direction-column">
					{% if baneri[1].naslov %}
						<h1 class="title">
							{{ baneri[1].naslov }}
						</h1>
					{% endif %}
					{% if baneri[1].sadrzaj %}
						<p class="subtitle">
							{{ baneri[1].sadrzaj }}
						</p>
					{% endif %}
				</div>
			</div>
		</div>
	</section>

	{# Vesti #}
	<section id="vesti">
		<div class="vesti__wrapper container">
			{# <h2 class="title">Вести</h2> #}

			<!-- Slider main container -->
			<div class="swiper swiperVesti">
				<h2 class="title">Вести</h2>
				<!-- Additional required wrapper -->
				<div class="swiper-wrapper">
					<!-- Slides -->
					{% for post in posts %}
						<div class="swiper-slide">
							<a href="{{post.link}}">
								{% include ['tease-vesti.twig'] %}
							</a>
						</div>
					{% endfor %}
				</div>

				<!-- If we need navigation buttons -->
				<div class="swiper-button-prev is-hidden-touch"></div>
				<div class="swiper-button-next is-hidden-touch"></div>

				<!-- If we need scrollbar -->
				<div class="swiper-scrollbar"></div>
			</div>
		</div>
	</section>

	{# Kako da se efiskalizujem? #}
	<section id="potrebno">
		{# Desktop & Tablet #}
		<div class="potrebno__wrapper container is-hidden-mobile">
			<h2 class="title">Како да се ефискализујем?</h2>
			{% set redniBroj = 0 %}
			<!-- Slider main container -->
			<div class="swiper swiperUputeTablet uputstva__naslovi">
			{# <div class="uputstva__naslovi uputstva__naslovi--tablet"> #}
				<!-- Additional required wrapper -->
				{# <div class="swiper-wrapper"> #}
				<div class="uputstva__naslovi--tablet">
					<!-- Slides -->
					{% for uputstvo in uputstva %}
						{% if loop.last == false %}
							{% set redniBroj = redniBroj + 1 %}
							<div class="swiper-slide swiper__slide--tablet is-flex is-justify-content-space-between">
								<h4 class="uputstva__naslov uputstva__naslov__{{ redniBroj }}">{{ uputstvo.naslov }}</h4>
							</div>
							<div class="uputstva__naslov__aktivan uputstva__naslov__aktivan__{{ redniBroj }}"></div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			{% set redniBroj = 0 %}
			{% for uputstvo in uputstva %}
				{% if loop.last == false %}
					{% set redniBroj = redniBroj + 1 %}
					{% set uputstvoVideo = TimberImage(uputstvo.video) %}
					<div class="uputstva__sadrzaj uputstva__sadrzaj__{{ redniBroj }}">
						<span class="uputstva__broj">{{ redniBroj }}</span>
						<p class="uputstva__tekst">{{ uputstvo.sadrzaj }}</p>
						{# <div class="uputstva__video">
							<iframe src="{{ uputstvoVideo.src }}" frameborder="0" allowfullscreen></iframe>
						</div> #}
					</div>
				{% endif %}
			{% endfor %}
		</div>

		{# video #}
		{% for uputstvo in uputstva %}
				{% if loop.last %}
					{% set uputstvoVideo = TimberImage(uputstvo.video) %}
					<div class="uputstva__video__wrapper container is-hidden-mobile">
						<div class="uputstva__video">
							<iframe src="{{ uputstvoVideo.src }}" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				{% endif %}
		{% endfor %}

		{# Mobile Only #}
		<div class="potrebno__wrapper__mobile is-hidden-tablet">
			<h2 class="title">Како да се еФискализујем?</h2>

			{% set redniBroj = 0 %}
			<!-- Slider main container -->
			<div class="swiper swiperUpute">
				<!-- Additional required wrapper -->
				<div class="swiper-wrapper">
					<!-- Slides -->
					{% for uputstvo in uputstva %}
					{% if loop.last == false %}
						{% set redniBroj = redniBroj + 1 %}
						{% set uputstvoVideo = TimberImage(uputstvo.video) %}
							<div class="swiper-slide is-flex is-flex-direction-column is-justify-content-space-between">
								<div class="uputstva__tekstovi__mobile">
									<h4 class="uputstva__naslov uputstva__naslov__{{ redniBroj }}">{{ uputstvo.naslov }}</h4>
									<p class="uputstva__tekst  uputstva__tekst--mob">{{ uputstvo.sadrzaj }}</p>
								</div>
								{# <div class="uputstva__video">
									<iframe src="{{ uputstvoVideo.src }}" frameborder="0" allowfullscreen></iframe>
								</div> #}
							</div>
						{% endif %}
					{% endfor %}
				</div>
				<!-- If we need pagination -->
				<div class="swiper-pagination"></div>
			</div>

			{% for uputstvo in uputstva %}
				{% if loop.last %}
					{% set uputstvoVideo = TimberImage(uputstvo.video) %}
					<div class="uputstva__video__wrapper is-hidden-tablet">
						<div class="uputstva__video">
							<iframe src="{{ uputstvoVideo.src }}" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</section>

	{# Dokumentacija #}
	<section id="dokumenti">
		<div class="dokumenti__wrapper container">
			<h2 class="title mb-0">Документација</h2>
			<div class="dokumenti__sadrzaj__wrapper">
				<div class="dokumenti__sadrzaj">
					{% for dokument in dokumenti %}
						{% set file = TimberImage(dokument.preuzmi) %}
						{% include ['tease-dokumenti.twig'] %}
					{% endfor %}
				</div>
				<span class="dugme dokumenti__dugme dokumenti__dugme--vise">
					ПРИКАЖИ ВИШЕ
					<img src="{{ theme.path }}/assets/images/plus.svg">
				</span>
				<span class="dugme dokumenti__dugme dokumenti__dugme--manje is-hidden">
					ПРИКАЖИ МАЊЕ
					<img src="{{ theme.path }}/assets/images/minus.svg">
				</span>
			</div>
		</div>
	</section>

	{# Promo baner #}
	{# {% set slikaBanera1 = TimberImage(baneri[0].slika_banera) %} #}
	{# {{ dump(baneri) }} #}
	<section id="baner__promo" class="hero is-large {% if baneri[0].naslov is empty %}no-text{% endif %}">
		<div class="hero-body is-flex {{ baneri[0].vrsta_banera }}">
		{% set slikaBanera0 = TimberImage(baneri[0].slika_banera) %}
		{% set slikaBaneraMobile0 = TimberImage(baneri[0].slika_banera_mobile) %}
		{% set dugmeLink = TimberImage(baneri[0].dugme_link) %}
		
			{# <img class="baner__slika" src="{{ slikaBanera1.src }}"> #}
			{% if slikaBanera0.src and slikaBaneraMobile0.src %}
				<picture class="baner__slika">
					{% if slikaBanera0.src %}<source srcset="{{ slikaBaneraMobile0.src }}" media="(max-width: 767px)">{% endif %}
					{% if slikaBaneraMobile0.src %}<source srcset="{{ slikaBanera0.src }}">{% endif %}
					<img src="{{ slikaBanera0.src }}">
				</picture>
			{% endif %}
			<div class="baner__center container">
				<div class="baner__align is-flex is-flex-direction-column">
					{% if baneri[0].naslov %}
						<h2 class="title">
							{{ baneri[0].naslov }}
						</h2>
					{% endif %}
					{% if baneri[0].sadrzaj %}
						<p class="subtitle">
							{{ baneri[0].sadrzaj }}
						</p>
					{% endif %}
					{% if dugmeLink.src %}
						<a href="{{ dugmeLink.src }}">
							<span class="dugme">
								{{ baneri[0].dugme }}
							</span>
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	</section>

	{# Najčešća pitanja #}
	<section id="pitanja">
		<div class="pitanja__wrapper container">
			<h2 class="title">Најчешћа питања</h2>
			<div class="pitanja__align is-flex is-flex-direction-column is-align-items-center">
				{% for pitanje in pitanja %}
				<div class="pitanje pt-5">
					<div class="pitanje__header is-flex is-justify-content-space-between is-align-items-center">
						<h4 class="title is-5">{{pitanje.pitanje}}</h4>
						<img src="{{ theme.path }}/assets/images/plus__kvadrat.svg" class="pitanje__button pitanje__button__add mb-5">
						<img src="{{ theme.path }}/assets/images/minus_kvadrat.svg" class="pitanje__button pitanje__button__remove is-hidden mb-5">
					</div>
					<p class="pb-5 is-hidden">{{pitanje.odgovor}}</p>
				</div>
				{% endfor %}
				<span class="dugme pitanja__dugme pitanja__dugme--vise">
					ПРИКАЖИ ВИШЕ
					<img src="{{ theme.path }}/assets/images/plus.svg">
				</span>
				
				<span class="dugme pitanja__dugme pitanja__dugme--manje is-hidden">
					ПРИКАЖИ МАЊЕ
					<img src="{{ theme.path }}/assets/images/minus.svg">
				</span>
			</div>
		</div>
	</section>
{% endblock %}