<!doctype html>
<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js no-svg" {{ site.language_attributes }}> <!--<![endif]-->
<head>
    <meta charset="{{ site.charset }}" />
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ site.theme.link }}/dist/css/main.css?v=10920211736" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="author" href="{{ site.theme.link }}/humans.txt" />
    <link rel="pingback" href="{{ site.pingback_url }}" />
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- Google Fonts Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap" rel="stylesheet">

    {% block share %}
        <!-- Facebook -->
        <meta property="og:url" content="{{ site.url }}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Електронска фискализација у Србији" />
        <meta property="og:description" content="Сви обвезници фискализације у Републици Србији треба да пређу на нови модел фискализације који подразумева употребу нових хардверских и софтверских решења." />
        <meta property="og:image" content="{{ site.url }}/wp-content/themes/fiskalizacija/assets/images/fiskalizacija-share.jpg" />
        <meta property="og:image:width" content="1366" />
        <meta property="og:image:height" content="640" />
    {% endblock %}

    <!-- Favicons  -->
    <link rel="icon" type="image/x-icon" href="/wp-content/themes/fiskalizacija/assets/images/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/wp-content/themes/fiskalizacija/assets/images/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/wp-content/themes/fiskalizacija/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/wp-content/themes/fiskalizacija/assets/images/favicon/favicon-96x96.png">

    <link id="favicon" href="/wp-content/themes/fiskalizacija/assets/images/favicon/favicon.ico?rev=40" rel="shortcut icon" type="image/vnd.microsoft.icon">

    <!--ANDROID-->
    <link rel="icon" type="image/png" sizes="48x48" href="/wp-content/themes/fiskalizacija/assets/images/favicon/android-icon-48x48.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/wp-content/themes/fiskalizacija/assets/images/favicon/android-icon-96x96.png">
    <link rel="icon" type="image/png" sizes="144x144" href="/wp-content/themes/fiskalizacija/assets/images/favicon/android-icon-144x144.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/wp-content/themes/fiskalizacija/assets/images/favicon/android-icon-192x192.png">

    <!--IOS-->
    <link rel="apple-touch-icon" sizes="57x57" href="/wp-content/themes/fiskalizacija/assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/wp-content/themes/fiskalizacija/assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/wp-content/themes/fiskalizacija/assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/wp-content/themes/fiskalizacija/assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/wp-content/themes/fiskalizacija/assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/wp-content/themes/fiskalizacija/assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/wp-content/themes/fiskalizacija/assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/wp-content/themes/fiskalizacija/assets/images/favicon/apple-icon-180x180.png">

    <script src="https://kit.fontawesome.com/f9ca8473c7.js" crossorigin="anonymous"></script>

    {{function('wp_head')}}
