{% if menu %}
	<!-- Slider main container -->
	<div class="navbar__menu navbar__menu__desktop">
		<!-- Additional required wrapper -->
		{% for item in items %}
			{% if loop.last == false %}
				<div class="navbar__item_wrapper">
					{% if is_front_page %}
						<a class="navbar__item" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
					{% else %}
						<a class="navbar__item" target="{{ item.target }}" href="{{site.url}}{{ item.link }}">{{ item.title }}</a>
					{% endif %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
	{% for item in items %}
		{% if loop.last == true %}
			<a class="navbar__item navbar__item--kontakt" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
		{% endif %}
	{% endfor %}
{% endif %}
