{% extends "base.twig" %}

{% block content %}
	<div class="vijest__single__wrapper frontpage__marker post-wrapper container" data-id="false">
		<article class="vijest__single post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<section class="article-content">
				<small class="article-date vijest__datum">{{ post.date|date('d. m. Y')}}</small>
				<h1 class="article-h1 title is-1 pt-3 mt-0">{{ post.title }}</h1>
				{% if post.excerpt %}
                    <h4 class="vijest__excerpt">{{post.excerpt}}</h4>
                {% else %}
                    <h4 class="vijest__excerpt">{{post.preview.length(25).read_more('')}}</h4>
                {% endif %}
				{% if galerija %}

					<div class="swiper swiperGalerija">
						<!-- Additional required wrapper -->
						<div class="swiper-wrapper">
							<!-- Slides -->
							{% for slika in galerija %}
								<div class="swiper-slide">
									<img src="{{ slika.url }}" class="vijest__galerija__img" alt="{{ slika.alt }}">
									<div class="vijest__galerija__overlay"></div>
								</div>
							{% endfor %}
						</div>
						<span class="vijesti__swiper-pagination--fraction"></span>
						<!-- If we need pagination -->
						<div class="swiper-pagination-bullets is-hidden-tablet"></div>

						<!-- If we need navigation buttons -->
						<div class="swiper-button-prev is-hidden-mobile"></div>
						<div class="swiper-button-next is-hidden-mobile"></div>
					</div>
				{% else %}
					<figure class="vijest__slika__naslovna">
						<picture>
							<source srcset="{{ post.thumbnail.src|resize(767) }}" media="(max-width: 767px)">
							<source srcset="{{ post.thumbnail.src|resize(1024) }}" media="(max-width: 1024px)">
							<source srcset="{{ post.thumbnail.src }}">
							<img src="{{ post.thumbnail.src }}">
						</picture>
					</figure>
				{% endif %}
				<div class="article-body">
					{{post.content}}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
