{% if menu %}
	{% for item in items %}
		{% if item.children %}
			<div class="nested navbar-item has-dropdown is-hoverable">
				<a class="navbar-link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
				<div class="navbar-dropdown is-nested">
					{% include "submenu.twig" with {'items': item.children} %}
				</div>
			</div>
		{% else %}
			<a class="nested navbar-item has-dropdown" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
		{% endif %}	
	{% endfor %}
{% endif %}