{% if menu %}
	{% for item in items %}
		{% if item.children %}
			<div class="nested navbar-item has-dropdown">
				<div class="dropdown-wrapper">
                    <a class="navbar-link  is-arrowless" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
                    <button class="button dropdown-trigger" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
				<div class="navbar-dropdown is-hidden">
					{% include "submenu-mobile.twig" with {'items': item.children} %}
				</div>
			</div>
		{% else %}
			<a class="nested navbar-item has-dropdown" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
		{% endif %}	
	{% endfor %}
{% endif %}