<article class="tease tease-{{post.post_type}}" id="tease-{{post.ID}}">
	{% block content %}
        <div class="vesti__tease__wrapper is-flex is-flex-direction-column">
            <div class="vesti__tease__thumb">
                {% if post.get_thumbnail %}
                    <img class="image vesti__tease__thumb mb-3" src="{{post.thumbnail.src}}" />
                {% endif %}
            </div>
            <div class="vesti__tease__text">
                <h2 class="h2 title is-5">{{post.title}}</h2>
                {% if post.excerpt %}
                    <p>{{post.excerpt}}</p>
                {% else %}
                    <p>{{post.preview.length(25).read_more('')}}</p>
                {% endif %}
            </div>
		</div>
	{% endblock %}
</article>