<article class="tease tease-{{dokument.post_type}}" id="tease-{{dokument.ID}}">
	{% block content %}
        <div class="dokumenti__tease__wrapper is-flex">
            <div class="dokumenti__naslov is-flex is-flex-direction-column is-justify-content-flex-start is-flex-grow-3 pb-5 pt-5">
                <div class="dokumenti__datum is-flex is-flex-direction-row is-align-content-center is-justify-content-flex-start mb-1">
                    <p class="dokument__aktivnost">{{dokument.aktivnost}}</p>
                    <span class="pr-2 pl-2">|</span>
                    <p class="dokument__datum">{{dokument.date | date("d.m.Y") }}<p>
                </div>
                <h3 class="h2 title is-5 mb-0">{{dokument.title}}</h3>
                <p class="mt-2 mb-0" >{{dokument.content}}</p>
            </div>
            <div class="dokumenti__link is-flex is-flex-direction-column is-justify-content-end pb-5 pt-5">
                {% if dokument.preuzmi %}
                    <a target='_blank' href="{{ file.src }}">
                        <img src="{{ theme.path }}/assets/images/dokument_link.svg">
                    </a>
                {% endif %}
                {% if dokument.porezna %}
                    <a target='_blank' href={{dokument.porezna}}>
                        <img src="{{ theme.path }}/assets/images/dokument_link.svg">
                    </a>
                {% endif %}
            </div>
		</div>	
	{% endblock %}
</article>